.my-swap{
  width: 100%;
  height: 85vh;
 

}

.swap {
  position: relative;
  top: -50px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide{
  height:auto !important;
}
.oooer{
  width: 100%;
  height: 450px;
}

.swiper-button-prev, .swiper-button-next{
  color:#1d41f8;

}
.swiper-button-prev:hover, .swiper-button-next:hover{
  color: #000000;
}